.my-layout-container {
    width: 100vw;
    height: 100vh;

    .ant-layout-header {
        padding: 0 30px;

        .demo-logo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 65px;

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 4px;
            }

            h3 {
                color: #fff;

            }
        }

        .theme-user {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    .main-content {
        overflow-y: auto;
    }

}